.links {
  display: none;

  @include mq(md) {
    display: flex;
    gap: 1.25rem;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.linkItem {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.linkItem:hover {
  color: rgb(168 162 158);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-property: all;
}
